extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = " " //- для остальных страниц пишем пустую строку или индекс активного headerLinks



  -
    const firstBlock = {
      wave: true,
      boldText: "Дом находится в 50 метрах от знаменитых Чистых прудов,в одном из самых романтичных и престижных районов Москвы. Дом расположен в тихом Потаповском переулке, в глубине квартала, где всегда царит камерная приватная атмосфера.",
      defaultText: [
        'Это настоящий клубный дом всего на 31 квартиру, включая четыре пентхауса c террасами и каминами.',
        'Мы деликатно реконструируем дом 1915 года — воссоздаём подлинный облик здания, наполняя новым, исключительным для домов такого класса, содержанием: просторное роскошное лобби c потолками 4,7 метра, общественная гостиная, фитнес-центр, пространства для детей и др.',
      ],
    };

  -
    const firstWindow = {
      number: 31,
      description: 'уникальная квартира',
      pngName: 'window-img-1',
      svgName: 'window-sgv-border',
      width: 433,
      height: 578,
    }

  -
    const secondBlock = {
      title: 'ТИШИНА И ПРИВАТНОСТЬ',
      defaultText: [
        'Дом расположен в самом уютном месте района,в окружении тихих исторических переулков, всего в 50 метрах от знаменитого пруда.',
        'Мы создали по-настоящему приватное пространство для наших жителей, островок тишины и комфорта посреди шумного мегаполиса:',
      ],
      list: [
      'в доме всего 31 квартира, включая пентхаусы;',
      'от двух до четырёх квартир на каждом этаже;',
      'окна всех квартир выходят в тихий двор;',
      'собственный укромный двор-сад;',
      'усиленная звукоизоляция квартир;',
      'бесшумные лифты и оборудование.',
      ],
      button: true,
    };

  -
    const secondWindow = {
      number: 50,
      description: 'метров до пруда',
      pngName: 'window-img-2',
      svgName: 'window-sgv-border',
      addBorder: 'window-sgv-add-border',
    }


  -
    const thirdBlock = {
      title: 'Насыщенное содержание',
      defaultText: [
        'Дом «Чистые Пруды» отличается от других проектов подобного типа богатой инфраструктурой. Жителям не придётся делать нелёгкий выбор между приватностью и комфортом и идти на компромисс.',
      ],
      button: true,
    };

  -
    const thirdWindow = {
      pngName: 'window-img-1',
    }

  -
    const fourthBlockLeft = {
      wave: true,
      defaultText: [
        'Внутри дом соответствует высоким современным стандартам роскошной и комфортной жизни.',
      ],
    };

  -
    const fourthBlockRight = {
      defaultText: [
        'В «Чистых Прудах» единое двух подъездов парадное лобби для с консьержем и лобби-баром.А на прилегающей территории красивый всесезонный двор-сад с фонтаном.',
        'Отличительная особенность нашего клубного дома — высокие потолки на всех этажах, от 3,9-5,4 метра'
      ],
      button: true,
    };

  -
    const fifthBlock = {
      title: 'Абсолютный комфорт',
      defaultText: [
        'Клубный дом «Чистые Пруды» оснащён самыми полными системами комфорта:',
      ],
      list: [
        'приточно-вытяжная вентиляция с фильтрацией воздуха;',
        'индивидуальное кондиционирование и увлажнение;',
        'очистка воды до уровня бутилированной;',
        'горячая вода круглый год;',
        'скоростные бесшумные лифты.'
      ],
      button: true,
    };

  -
    const fifthWindow = {
      pngName: 'window-img-2',
      svgName: 'window-sgv-border',
      addBorder: 'window-sgv-add-border',
    }

  -
    const sixthBlock = {
      defaultText: [
        'Sminex Premium Service — стандарт работы нашей Службы Комфорта, действующий во всех 14 вверенных ей проектах. Её задача — проявлять заботу о жителях в режиме 24/7/365 и следить за тем, чтобы всё работало так, как было задумано изначально.',
      ],
    };

  -
    sixthWindow = {
      pngName: 'window-img-2',
    }

  -
    const seventhBlockLeft = {
      title: 'Прекрасное окружение',
    };

  -
    const seventhBlockRight = {
      defaultText: [
        'Старейший в городе, Басманный район славится своими историческими особняками, церквями и усадьбами, имеющими статус объектов культурного наследия.',
        'В округе много парков и скверов, а также театров и фитнес-залов с бассейнами. Дом расположен всего в 1500 метров от Кремля.'
      ],
    };

  -
    const eighthBlock = {
      title: 'Всё для детей',
      defaultText: [
        'Для маленьких жителей в доме создано уникальное развивающее пространство KID’S LAB* — игровая площадка во дворе и детская комната.',
        'В закрытом дворе-саду ведётся видеонаблюдение, к которому могут подключиться родители, а на окна квартир установлена специальная защита, так что ваш ребёнок будет в полной безопасности.',
      ],
      button: true,
    };

  -
    const eighthWindow = {
      pngName: 'window-img-1',
      svgName: 'window-sgv-border',
    }

  -
    const ninthBlockLeft = {
      wave: true,
      defaultText: [
        'Все планировки максимально функциональны и продуманы до мельчайших деталей.',
      ],
    };

  -
    const ninthBlockRight = {
      defaultText: [
        'Самое важное в доме – удобная планировка квартиры. Мы проектируем квартиры отталкиваясь от реальных сценариев жизни. Хорошая планировка – это эргономика – когда всё расположено удобно, и требует минимум лишних движений.'
      ],
      button: true,
    };



block main
  main
    +content-block(firstBlock, firstWindow, '' , true)
    +content-block(secondBlock, secondWindow, '' , false)
    +content-block(thirdBlock, thirdWindow, '' , true)
    +content-block(fourthBlockLeft,'', fourthBlockRight, true)
    +content-block(fifthBlock, fifthWindow, '' , true)
    +content-block(sixthBlock, sixthWindow, '' , true)
    +content-block(seventhBlockLeft,'', seventhBlockRight, true)
    +content-block(eighthBlock, eighthWindow, '' , true)
    +content-block(ninthBlockLeft,'', ninthBlockRight, true)

block modals
