mixin bottom-menu(windowData, menu)
  .bottom-menu&attributes(attributes)
    .container
      p.bottom-menu__title Узнать больше
      p.bottom-menu__sub-title О преимуществах проекта
      .bottom-menu__wrapper
        .bottom-menu__column
          if(menu.list)
            ul.bottom-menu__list
              each item in menu.list
                li.bottom-menu__list-item
                  a(href=menu.href).bottom-menu__list-item.bottom-menu__list-item--style-upper= item
        .bottom-menu__column
          if(windowData)
            +img-window(windowData)

