
.bottom-menu__title{
  font-family: 'BazaART';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 160px;
  color: #204186;
}

.bottom-menu__sub-title{
  font-family: 'BazaART';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  color: #204186;
}

.bottom-menu__wrapper{
  display: flex;
  max-width: 100%;
  padding: 60px 0px 60px;
  justify-content: space-between;
}

.bottom-menu__list{
  list-style-type: none;
}

.bottom-menu__list:first-child{
  padding-top: 25px;
}

.bottom-menu__list-item{
  transition: all .3s ease;
  margin-bottom: 44px;
  &--style-upper{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
  }
  :hover{
    color: $color-default-white;
  }
}

@media (max-width: 990px) {
  .bottom-menu__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .bottom-menu__list{
    display: none;
  }
}
