
.content-block__wrapper{
  display: flex;
  max-width: 100%;
  padding: 60px 0px 60px;
  justify-content: space-between;
}


@media (max-width: 990px) {
  .content-block__wrapper{
    flex-direction: column;
    align-items: center;
  }

  .content-block__column{
    max-width: 870px;
  }

  .content-block__wrapper--left{
    flex-direction: column-reverse;
  }
}

@media (max-width: 770px) {
  
}
