.content-block{

&--left{

}
}

.content-block__wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 100px 0px 100px;
}

.img-window{
  position: relative;

}

.img-window__content{
  max-width: 433px;
  max-height: 578px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 626px;
}

.img-window__img{
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: contain;
}

.img-window__decor{
  position: absolute;
  left: -5%;
  bottom: 26%;
  width: 110%;
}

.img-window__decor-add{
  position: absolute;
  left: -15%;
  bottom: -5%;
  width: 130%;
}

.img-window__text{
  position: absolute;
  left: 15%;
  bottom: 28%;
  text-align: center;
  max-width: 300px;
}

.img-window__number{
  font-family: 'BazaART';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  color: $color-default-white;
  margin: 0px;
}

  .img-window__desc {
  font-family: 'BazaART';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-default-white;
  margin: 0px;
}
