
.img-window{
  max-width: 433px;
  max-height: 578px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.img-window__content{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  overflow: hidden;
  border-radius: 626px;
}

.img-window__img{
  img{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  }
}

.img-window__decor{
  position: absolute;
  max-width: 120%;
  top: -42%;
  left: -10%;
}

.img-window__decor-add{
  position: absolute;
  max-width: 130%;
  top: -10%;
  left: -14.5%;
}

.img-window__text{
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 186px;
  z-index: 1;
}

.img-window__number{
  font-family: 'BazaART';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  color: $color-default-white;
  margin: 0px;
}

  .img-window__desc {
  font-family: 'BazaART';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-default-white;
  margin: 0px;
}

@media (max-width: 990px) {
  .img-window{
    margin: 60px 0px  40px;
    padding-left: 20px;
  }

  .img-window__decor{
    left: -5%;
  }

  .img-window__decor-add{
    left: -9%;
  }
}
