.text-block{
  max-width: 430px;
}

.title{

&--h2{
  font-family: 'BazaART';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;
text-transform: uppercase;
color: $color-default-white;
}
}

.text-block__text{
  font-family: 'Circe';
  font-style: normal;
  margin-top: 20px;

&--style-bold{
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: $color-default-white;
}

&--style-default{
font-weight: 100;
font-size: 18px;
line-height: 26px;
color: $color-default-white;
}
}

.list {
  margin-top: 20px;
  padding-left: 18px;
}
.list__item{
  color: $color-default-white;
}
.more-button {
  margin-top: 20px;
  display: flex;
}
.more-button__text{
  color: $color-default-white;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
