// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "BazaART";
  font-display: swap;
  src:
    url("../fonts/BazaART.woff2") format("woff2"),
    url("../fonts/BazaART.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "circe";
  font-display: swap;
  src:
    url("../fonts/circe.woff2") format("woff2"),
    url("../fonts/circe.woff") format("woff");
}


